@import './colors';
:export {
  yellow: $yellow;
  red1: $red1;
  orange: $orange;
  green: $green;
  primary: $primary;
  grey: $grey;
  text: $text;
  w255: $w255;
  w250: $w250;
  w245: $w245;
  w240: $w240;
  w235: $w235;
  w230: $w230;
  w225: $w225;
  w220: $w220;
  w210: $w210;
  w200: $w200;
  w190: $w190;
  w180: $w180;
  w170: $w170;
  w160: $w160;
  w150: $w150;
  w140: $w140;
  w130: $w130;
  w120: $w120;
  w110: $w110;
  w100: $w100;
  g90: $g90;
  g80: $g80;
  g70: $g70;
  g60: $g60;
  g50: $g50;
  g40: $g40;
  g30: $g30;
  g20: $g20;
  g10: $g10;
  g0: $g0;
}
