:root {
  --headerHeight: #{$headerHeight};
}
@media screen and (max-width: 800px) {
  :root {
    --headerHeight: 60px !important;
  }
}

.flex,
.grid {
  position: relative;
  min-width: 0;
  min-height: 0;
  max-width: 100%;

  &.flex {
    display: flex;
    flex-flow: row wrap;
    &.scroll {
      overflow-y: auto;
      align-content: flex-start;
      & > * {
        width: 100%;
      }
    }

    &.center {
      justify-content: center;
      align-items: center;
    }

    &.hcenter {
      align-items: center;
    }
    &.hstart {
      align-items: flex-start;
    }
    &.wcenter {
      justify-content: center;
    }
    &.wstart {
      justify-content: flex-start;
    }

    &.between {
      justify-content: space-between;
    }
    &.evenly {
      justify-content: space-evenly;
    }
    &.c-start {
      align-content: flex-start;
    }

    &.column {
      flex-direction: column;

      &.reverse {
        flex-direction: column-reverse;
      }
    }
    &.wrap {
      flex-wrap: wrap;
    }
    &.nowrap {
      flex-wrap: nowrap;
    }
  }

  &.grid {
    display: grid;
  }
}

.grow {
  flex-grow: 1;
  flex-basis: 0%;
}
.nogrow {
  flex-grow: 0;
  flex-basis: auto;
}

.shrink {
  flex-shrink: 1;
  flex-basis: auto;
}
.noshrink {
  flex-shrink: 0;
  flex-basis: auto;
}

.f-fluid {
  flex: 1 1 300px;
}
.f-blocked {
  flex: 0 0 auto;
}

.stretch {
  max-width: 100%;
}

$i: 5;
@while $i < 100 {
  .pad#{$i} {
    padding: #{$i}px;
  }
  .padh#{$i} {
    padding-top: #{$i}px;
    padding-bottom: #{$i}px;
  }
  .padw#{$i} {
    padding-left: #{$i}px;
    padding-right: #{$i}px;
  }
  .padt#{$i} {
    padding-top: #{$i}px;
  }
  .padb#{$i} {
    padding-bottom: #{$i}px;
  }
  .padr#{$i} {
    padding-right: #{$i}px;
  }
  .padl#{$i} {
    padding-left: #{$i}px;
  }
  $i: $i + 5;
}

$i: 5;
@while $i < 100 {
  .marg#{$i} {
    margin: #{$i}px;
  }
  .margh#{$i} {
    margin-top: #{$i}px;
    margin-bottom: #{$i}px;
  }
  .margw#{$i} {
    margin-left: #{$i}px;
    margin-right: #{$i}px;
  }
  .margt#{$i} {
    margin-top: #{$i}px;
  }
  .margb#{$i} {
    margin-bottom: #{$i}px;
  }
  .margr#{$i} {
    margin-right: #{$i}px;
  }
  .margl#{$i} {
    margin-left: #{$i}px;
  }

  $i: $i + 5;
}

.w100 {
  width: 100%;
}
.w50 {
  width: 50%;
}
.h100 {
  height: 100%;
}
.h50 {
  height: 50%;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.bg {
  @include bg-center;

  &[mini] {
    height: 40px;
    width: 40px;
  }

  &[medium] {
    height: 70px;
    width: 70px;
  }

  &.round {
    border-radius: 100%;
  }
}

span[grey] {
  color: $grey;
}

*[section] {
  width: 100%;
  border-bottom: 2px solid $w230;
  padding-bottom: 5px;
}

h1 {
  font-size: 45px;
  color: white;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 25px;
  color: white;
  font-weight: bold;
  margin: 5px 0;
}

h3 {
  font-size: 20px;
  color: white;
  font-weight: normal;
  margin: 4px 0;
}

h4 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin: 3px 0;
}
