@tailwind base;

@layer base {
  h1 {
    @apply items-center text-4xl;
    font-weight: 600;
    margin: 0;
  }

  h2 {
    @apply items-center text-2xl;
    font-weight: 600;
    margin: 5px 0;
  }

  h3 {
    @apply items-center text-xl;
    font-weight: bold;
    margin: 4px 0;
  }

  h4 {
    @apply items-center text-lg;
    font-weight: bold;
    margin: 3px 0;
  }

  @responsive {
    .center {
      justify-content: center;
      align-items: center;
    }
    .flex {
      position: relative;
      min-width: 0;
      min-height: 0;
      max-width: 100%;

      flex-direction: row;
      flex-wrap: wrap;
    }
    .grid {
      position: relative;
      min-width: 0;
      min-height: 0;
      max-width: 100%;
    }

    .scroll-y {
      overflow-y: auto;
    }
    .scroll-x {
      overflow-x: auto;
    }
    .scroll-y > *,
    .scroll-x > * {
      width: 100%;
    }

    .c-row-y > *,
    .c-row-x > * {
      width: 100%;
    }

    .--GradientText {
      background-image: linear-gradient(354.37deg, #2f8975 24.52%, #0078a3 72.78%);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      margin-right: auto;
    }
  }
}

/* Components */
@tailwind components;

@tailwind utilities;
